#title_label {
    color: white;
    font: 14px 'Segoe UI';
    font-weight: bold;
}

#content_label {
    color: rgb(208, 208, 208);
    font: 12px 'Segoe UI';
}

#view_title_label {
    color: white;
    font: 20px "Segoe UI SemiBold";
}