LinkCard {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgba(50, 50, 50, 0.92);
}

LinkCard:hover {
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(50, 50, 50, 1.0);
}

#title_label {
    font: 18px 'Segoe UI';
    color: white;
}

#content_label {
    font: 12px 'Segoe UI';
    color: rgb(208, 208, 208);
}

LinkCardView {
    background-color: transparent;
    border: none;
}

#view {
    background-color: transparent;
}